<div class="row row-cols-1 row-cols-md-3 fix-margin">
  {{#each model as |book|}}
    <div class="col mb-4">
      <div class="card">
        {{book-item book=book coverURL=book.coverURL title=book.title author=book.author pages=book.pages rating=book.rating id=book.id deleteBook=(action "deleteBook")}}
      </div>
    </div>
  {{/each}}
</div>
